* {
    
    font-family: "Josefin Sans", sans-serif;

}
#wrapper {

    border: 5px solid black;
}

#sub-wrapper {

    border: 5px solid black;
}






































/* * {
    
    font-family: "Josefin Sans", sans-serif;
}

#startPage {
    
    margin: 200px;
    background-color: steelblue;
    height: 500px;
    border-radius: 100px;
    margin-left: 370px;
    
}

.col {
    
    text-align: center;
    align-content: center;
}

#welcometoquiz {

    margin: 50px;
    font-size: 75px;
    color: white;
}

#startButton {

    background-color: lightcoral;
    margin: 30px;
    height: 75px;
    border-radius: 25px;
    margin-top: 20px;
    zoom: 2;
    color: white;
    font-size: 25px;
}

#startButton:hover{

    box-shadow: 1px 5px 50px black;
    color: black;
}

#timerContainer{

    background-color: steelblue;
    color: white;
    font-size: 30px;
}

#spacingForRow {

    padding: 20px;
}
 */


